* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-family: 'Noto Serif KR', serif;
  -webkit-font-smoothing: antialiased;
  display: grid;
  display: inline-block;
  width: 100%;
  grid-template-rows: 3% auto 3%;
}

/* Header */

header {
  display: flex;
  align-items: center;
  padding: 1rem;
}

nav {
  display: flex;
  margin-left: auto;
}

nav a {
  color: black;
  padding: 0 15px;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
}

.logo {
  width: 185px;
  height: 43px;
}

/* Main */

.introduce {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  height: 88vh;
  background-color: #f1f2fd;
  text-align: center;
}

.introduce h1 {
  font-size: 6rem;
  margin-bottom: 70px;
  padding-top: 198px;
}

.introduce p {
  width: 400px;
  text-align: center;
  padding-top: 4rem;
  margin: 0 auto;
  font-size: 1.2rem;
}

.hash-tags {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  color: #333;
}

.hash-tags h3 {
  padding: 0 10px;
}

.title {
  text-align: center;
  font-size: 1rem;
  border-bottom: 1px solid #c8c8c8;
  margin: 7rem 170px 0 170px;
}

.title h1 {
  margin-bottom: 1rem;
  color: #333;
}

.portfolio-1,
.portfolio-2 {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  text-align: center;
}

.portfolio-1 {
  margin: 7rem auto 15rem auto;
}

.portfolio-1 .port-img {
  width: 75%;
  margin-left: auto;
}

.portfolio-2 .port-img {
  width: 75%;
  margin-right: auto;
}

.portfolio-text-card-1 {
  text-align: left;
  font-size: 1.5rem;
}

.portfolio-text-card-2 {
  text-align: right;
  font-size: 1.5rem;
  margin-right: 1.5rem;
}

.portfolio-text-card-1 h3,
.portfolio-text-card-2 h3 {
  margin: 0 auto 1.5rem auto;
}

.portfolio-text-card-1 a,
.portfolio-text-card-2 a {
  text-decoration: none;
  color: black;
}

/* Contact */

.contact {
  margin-bottom: 5rem;
}

.contact-icons {
  font-size: 3rem;
  text-align: center;
  padding-top: 5rem;
}

.contact-icons a {
  text-decoration: none;
  color: #333;
}

.contact-icons i {
  padding: 0 10px;
}

/* Footer */

.footer-myname {
  padding: 20px;
  text-align: center;
  font-size: 13px;
}

@media (max-width: 550px) {
  /* Header */

  header {
    padding: 15px 3px;
  }
  nav a {
    color: black;
    padding: 0 10px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
  }

  .logo {
    width: 100px;
    height: 25px;
  }

  /* Main */
  .introduce {
    height: 75vh;
  }

  .introduce h1 {
    font-size: 4rem;
    margin-bottom: 35px;
    padding-top: 172px;
  }

  .hash-tags {
    display: flex;
    justify-content: center;
    font-size: 1rem;
    color: #333;
  }

  .hash-tags h3 {
    padding: 0 3px;
  }

  .portfolio-1,
  .portfolio-2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }

  .portfolio-1 .port-img {
    width: 75%;
    margin: 0 auto;
  }

  .portfolio-2 .port-img {
    width: 75%;
    margin: 0 auto;
  }

  .portfolio-text-card-1 {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 2rem;
  }

  .portfolio-text-card-2 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    margin-right: 1.5rem;
  }
}
