* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  display: grid;
  display: inline-block;
  overflow-x: hidden;
  grid-template-rows: 3% auto 3%;
  background-color: black;
  color: #fff;
}

/* Header */

header {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-bottom: 8px solid #222;
}

.logo {
  width: 155px;
  height: 45px;
}

/* Main */

.introduce {
  height: 90vh;
  text-align: center;
  z-index: 2;
  border-bottom: 8px solid #222;
}

.introduce h1 {
  font-size: 4rem;
  width: 700px;
  margin: 0 auto;
  margin-bottom: 70px;
  padding-top: 198px;
  line-height: 5.2rem;
}

.introduce p {
  width: 550px;
  text-align: center;
  padding: 1rem auto;
  margin: 0 auto 2rem auto;
  font-size: 1.5rem;
}

.hash-tags {
  display: flex;
  justify-content: center;
  font-size: 1.1rem;
}

.hash-tags h3 {
  padding: 0 7px;
}

.title {
  text-align: center;
  font-size: 1rem;
  border-bottom: 1px solid #c8c8c8;
  margin: 7rem 170px 0 170px;
}

.title h1 {
  margin-bottom: 1rem;
}

.portfolio-1,
.portfolio-2 {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-gap: 4rem;
  text-align: center;
  border-bottom: 8px solid #222;
  padding: 7rem 3rem;
}

.portfolio-1 .port-img {
  width: 45%;
  height: auto;
  margin-left: auto;
}

.portfolio-2 .port-img {
  width: 60%;
  margin-right: auto;
}

.portfolio-text-card-1,
.portfolio-text-card-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.5rem;
}

.portfolio-text-card-1 {
  text-align: left;
}

.portfolio-text-card-2 {
  text-align: right;
}

.portfolio-text-card-1 h3,
.portfolio-text-card-2 h3 {
  font-size: 3rem;
}

.port-1-text,
.port-2-text {
  margin-top: 2rem;
  padding: 0 5px;
}

.port-1-text a,
.port-2-text a {
  text-decoration: none;
  color: #fff;
}

.port-btn {
  border: 1px solid #e50914;
  border-radius: 5px;
  background-color: #e50914;
  color: black;
  padding: 10px 15px;
  font-size: 1.15rem;
}

/* Contact */

.contact {
  display: flex;
  justify-content: center;
  padding: 5rem 0 5rem 0;
}

.contact-icons {
  font-size: 3rem;
  text-align: center;
}

.contact-icons a {
  text-decoration: none;
  color: #fff;
}

.contact-icons i {
  padding: 0 15px;
}

/* Footer */

.footer-myname {
  padding: 20px;
  text-align: center;
  font-size: 13px;
}

/* Media */

@media (max-width: 850px) {
  /* Header */
  header {
    padding: 15px 5px;
  }

  .logo {
    width: 100px;
    height: 30px;
  }

  /* Main */
  .video-bg {
    height: 90vh;
  }

  .introduce {
    height: 90vh;
  }

  .introduce h1 {
    width: 400px;
    font-size: 2.5rem;
    line-height: 2.75rem;
    padding-top: 172px;
  }

  .introduce p {
    width: 300px;
    font-size: 1.25rem;
  }

  .hash-tags {
    display: none;
  }

  .portfolio-1,
  .portfolio-2 {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .portfolio-2 {
    flex-direction: column-reverse;
  }

  .portfolio-1 .port-img {
    width: 75%;
    margin: 0 auto;
  }

  .portfolio-2 .port-img {
    width: 75%;
    margin: 0 auto;
  }

  .portfolio-text-card-1,
  .portfolio-text-card-2 {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1.5rem;
  }
}

/* Loading Page */
#loading {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: block;
  opacity: 0.7;
  background-color: #fff;
  z-index: 99;
  text-align: center;
}

#loading-image {
  position: absolute;
  top: 100px;
  left: 240px;
  z-index: 100;
}
